files:
  "/home/ec2-user/migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/deployment/env
      sudo docker run 096085967110.dkr.ecr.us-east-2.amazonaws.com/trainee_backend:latest bash -c "python manage.py migrate --noinput" --env DATABASE_URL=$DATABASE_URL --env SECRET_KEY=$SECRET_KEY

container_commands:
    00_migrate:
        command: /home/ec2-user/migrate.sh
        leader_only: true