container_commands:
    00_collectstatic:
        command: "sudo docker run --env AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} --env ${AWS_SECRET_ACCESS_KEY} --env ${AWS_S3_REGION_NAME} --env ${AWS_S3_SIGNATURE_VERSION} --env ${AWS_QUERYSTRING_AUTH} --env ${AWS_DEFAULT_ACL} --env ${USE_AWS_FOR_MEDIA} --env ${USE_AWS_FOR_STATIC} --env ${AWS_S3_STATIC_BUCKET_NAME} --env ${AWS_S3_MEDIA_BUCKET_NAME} --env DATABASE_URL=${DATABASE_URL} --env SECRET_KEY=${SECRET_KEY} --env ALLOWED_HOSTS=${ALLOWED_HOSTS} 096085967110.dkr.ecr.us-east-2.amazonaws.com/trainee_backend:latest bash -c \"python manage.py collectstatic --noinput\" "
        leader_only: true