files:
  "/home/ec2-user/collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      sudo docker run 096085967110.dkr.ecr.us-east-2.amazonaws.com/trainee_backend:latest bash -c "python manage.py collectstatic --noinput" --env DATABASE_URL=$DATABASE_URL --env SECRET_KEY=$SECRET_KEY

container_commands:
    00_collectstatic:
        command: /home/ec2-user/collectstatic.sh
        leader_only: true